# Rust build artifacts
/target/
**/target/

# Python
venv/
.venv
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Python testing
.pytest_cache/
.coverage
coverage.xml
.hypothesis/
htmlcov/

# WASM bindings
/rustigc-wasm/*/dist/
node_modules/
package-lock.json
